h4 {
  color: #1e1b5f;
  margin: 10px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

p {
  color: #000;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card {
  /* Add shadows to create the "card" effect */
  border-width: 50px;
  border-color: #1e1b5f;
  border-radius: 5px;
  transition: 0.3s;
  align-items: center;
  padding: 10px 15px;
  height: 110px;
  overflow: hidden;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 #1e1b5f;
}

.subclass {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  margin: -10px 0;
}

.announcement-card {
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  height: fit-content;
}

.announcement-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  margin: -10px 0;
}

.announcement-content {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 55px;
  margin-bottom: 10px;
}

.announcement-detail {
  color: grey;
  text-align: right;
}

.announcement-card:before,
.announcement-card:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.announcement-card:hover {
  .announcement-title {
    text-decoration: underline;
  }

  box-shadow: 0px 0px 10px 0 #1e1b5f;
  cursor: pointer;
}

.no-announcements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 25px;
}
