.icon {
  font-size: 40px;
}

.home-grid-container {
  justify-items: center;
  align-items: center;
  min-height: 70vh;
  display: grid;
  grid-template-columns: auto 200px 200px 200px 200px auto;
  grid-column-start: 0;
  grid-gap: 30px;
}

@media (max-width: 900px) {
  .home-grid-container {
    grid-template-columns: auto auto;
  }
  .hide {
    display: none;
  }
}

.dir-card {
  border-radius: 10px;
  border-color: #1e1b5f;
  border-style: solid;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  gap: 10px;
}

.dir-card:hover {
  box-shadow: 0 8px 16px 0 #1e1b5f;
  cursor: pointer;
}
