form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.modal {
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  &.opened {
    display: block;
  }

  &.closed {
    display: none;
  }
}

.modal-content-full {
  width: 80% !important;
}

.modal-content {
  padding: 30px;
  position: absolute;
  background-color: #fff;
  width: 40%;
  max-height: 80%;
  height: fit-content;
  text-align: center;
  top: 50%;
  left: 50%;
  overflow-y: auto;
  transform: translate(-50%, -50%);
  border-top: 10px solid #1e1b5f;

  h1 {
    margin-top: 0;
  }
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 80%;
  }
}

.close-modal {
  font-size: 24px;
  position: absolute;
  right: 5px;
  top: 10px;
}

.close-modal:hover {
  color: #1e1b5f;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  box-sizing: border-box;
}

.animate-out {
  animation: out 600ms ease-in-out forwards;
}

.animate-in {
  animation: in 500ms ease-in-out forwards;
  display: block;
}

@keyframes out {
  0% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-50%, -200%);
  }
}

@keyframes in {
  0% {
    opacity: 0;
    transform: translate(-50%, -200%);
  }

  100% {
    opacity: 1;
    transform: translateX(-50%, -50%);
  }
}

/* make each row alternative color */
.class-checkbox-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.class-checkbox-row:nth-child(even) {
  background-color: #c9c9c950;
}

.class-checkbox-text {
  text-align: left;
}

/* Style for the checkbox itself */
.class-checkbox {
  margin: 0;
  padding: 0;
  height: 20px;
  width: 20px;
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid #1e1b5f;
  cursor: pointer;
  position: relative;
}

/* Style for the checked checkbox */
.class-checkbox:checked {
  background-color: #1e1b5f;
}

/* Add a tick mark to the checked checkbox */
.class-checkbox:checked::after {
  content: "\2713";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 16px;
}

.confirm-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.confirm-modal-button {
  margin: 10px;
}

.content-title {
  text-align: left;
  overflow-y: scroll;
}

.content-text {
  text-align: left;
  white-space: pre-wrap;
  overflow-y: auto;
  padding: 15px;
  height: 300px;
  resize: vertical;
  background-color: #fff;
}
