/* Style the navigation bar */
nav ul {
  list-style-type: none;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  display: flex;
  flex-grow: 1;
  background-color: #1e1b5f;
  color: #fff;
}

nav ul li {
  margin: 0 10px;
  font-size: small;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: large;
}

.bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-selected {
  color: #e7b474;
  pointer-events: none;
  cursor: default;
}

.logout-button {
  background-color: #e7b474;
  border-radius: 3px;
  border-width: 0px;
  align-items: center;
  margin-left: auto;
  margin-right: 20px;
  font-weight: 550;
}

a1,
b1 {
  font-size: x-large;
  color: #e7b474;
}

a1 {
  color: #fff;
  margin-left: 5px;
}

.home-button {
  background-color: transparent;
}

.topnav {
  overflow: hidden;
}

.topnav a:hover {
  color: #e7b474;
}

.topnav .nav-icon {
  display: none;
  color: #e7b474;
}

@media screen and (max-width: 750px) {
  .topnav .nav-item:first-child {
    width: 100%;
  }
  .topnav .nav-item:not(:first-child) {
    display: none;
  }
  .topnav .nav-icon {
    display: block;
    margin-left: auto;
    margin-right: 20px;
  }
}

@media screen and (max-width: 750px) {
  .topnav.responsive {
    position: relative;
    flex-direction: column;
    align-items: flex-start !important;
  }

  .topnav.responsive li {
    margin-bottom: 20px;
    margin-left: 0;
  }
  .topnav.responsive .menu {
    margin: 0;
  }
  .topnav.responsive .nav-item {
    width: 100%;
    text-align: center;
    display: block;
  }

  .topnav.topnav.responsive .logout-button {
    background-color: #e7b474;
    border-radius: 0px;
    border-width: 0px;
    align-items: normal;
    font-weight: 550;
    margin: 0;
  }
}
