.home-grid-container {
  min-height: 20vh;
  grid-template-columns: auto 200px 200px 200px auto;
}

@media (max-width: 900px) {
  .home-grid-container {
    grid-template-columns: auto auto;
  }
}

.info {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  width: 100%;
  gap: 20px;
}

.home-box {
  padding: 15px;
  border-color: #1e1b5f;
  border-style: solid;
  border-radius: 10px;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 50%;
}

@media (max-width: 1000px) {
  .info {
    flex-direction: column;
  }
  .home-box {
    width: 90%;
  }
}
