/* Reset some default browser styles */
body,
h1,
p {
  margin: 0;
  padding: 0;
}

/* Style pages */
.page {
  background-color: #fff;
  margin: 0 20px 20px 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/* Set a background color and default text color */
body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

/* Style the header */
header {
  text-align: left;
}

/* Style form elements */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #e7b474;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100px;
  font-size: medium;
  align-self: center;
}

button {
  background-color: #e7b474;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: medium;
  align-self: center;
}

button:hover {
  background-color: #1e1b5f;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 0.8rem;
  width: 100%;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px;
  font-size: large;
}

td {
  text-align: center;
  font-size: medium;
}

tr:nth-child(even) {
  background-color: #eee;
}

.subheader {
  align-self: flex-start;
  margin-right: auto;
}

.add-button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  width: 100%;
}

.icon-button {
  background-color: transparent;
  font-size: 20px;
  color: black;
  border-radius: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.information-header {
  margin: 50px 20px 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.information-box {
  margin: 0 20px;
  align-items: center;
}

.information {
  display: flex;
  flex-direction: row;
  margin: 20px 0 0 20px;
  height: 30px;
  gap: 10px;
  align-items: center;
}

.edit-field {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px 10px;
}

#types {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  font-size: 17px;
  height: 40px;
}
