html {
  box-sizing: border-box;
  --bgColorMenu: #ebd2b4;
  --duration: 0.7s;
}

html *,
html *::before,
html *::after {
  box-sizing: inherit;
}

.tab__menu {
  margin-top: 50px;
  margin-bottom: 0;
  display: flex;
  width: 100%;
  padding: 0 2.85em;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: var(--bgColorMenu);
  border-width: 0;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.menu__item {
  all: unset;
  flex-grow: 1;
  z-index: 1;
  display: flex;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  align-items: center;
  will-change: transform;
  justify-content: center;
  padding: 0.55em 0 0.85em;
  transition: transform var(--timeOut, var(--duration));
}

.menu__item::before {
  content: "";
  z-index: -1;
  width: 3.2em;
  height: 3.2em;
  border-radius: 50%;
  position: absolute;
  transform: scale(0);
  transition: background-color var(--duration), transform var(--duration);
}

.menu__item:hover {
  background-color: transparent;
}

.menu__item.active {
  transform: translate3d(0, -0.8em, 0);
}

.menu__item.active::before {
  transform: scale(1);
  background-color: var(--bgColorItem);
}

.icon {
  width: 2.6em;
  height: 2.6em;
  stroke: white;
  fill: transparent;
  stroke-width: 1pt;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 400;
}

.menu__item.active .icon {
  animation: strok 1.5s reverse;
}

@keyframes strok {
  100% {
    stroke-dashoffset: 400;
  }
}

.menu__border {
  left: 0;
  bottom: 99%;
  width: 10.9em;
  height: 2.4em;
  position: absolute;
  clip-path: url(#tab__menu);
  will-change: transform;
  background-color: var(--bgColorMenu);
  transition: transform var(--timeOut, var(--duration));
}

.svg-container {
  width: 0;
  height: 0;
}

@media screen and (max-width: 50em) {
  .tab__menu {
    font-size: 0.8em;
  }
}

.tab__content {
  border-width: 5px;
  border-color: #ebd2b4;
  border-style: solid;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  height: fit-content;
  transition: 0.3s;
}

.tab__title {
  text-align: left;
  text-decoration: underline;
  transition: 0.3s;
}

.tab__content__item {
  transition: 0.3s;
  display: none;
}
.tab_active {
  transition: 0.3s;
  display: block;
}

.tab__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-width: 0;
}
