/* Apply a background color and text color */
body {
  height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  color: #333;
}

.img {
  text-align: center;
  justify-content: center;
}

/* Style the header */
header {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #000;
  text-align: center;
  padding: 20px;
  justify-content: center;

  margin-bottom: 20px;
}

main {
  width: 40vw;
  padding: 20px;
  border-radius: 5px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

/* Style form elements */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 6px;
  font-weight: bold;
}

.info {
  font-weight: normal;
  font-size: small;
  margin-top: 10px;
  text-align: center;
  display: block;
}

.redirect-link {
  text-decoration: none;
  color: blue;
}
